XML/produktuak.dtd

<!ELEMENT produktuak (produktua)*>
	<!ATTLIST produktuak azkenid IDREF #REQUIRED>
<!ELEMENT produktua (izena, jabea, deskribapena, salneurria, argazkia)>
	<!ATTLIST produktua id ID #REQUIRED>
	<!ELEMENT izena (#PCDATA)>
	<!ELEMENT jabea (#PCDATA)>
	<!ELEMENT deskribapena (#PCDATA)>
	<!ELEMENT salneurria (#PCDATA)>
	<!ELEMENT argazkia (#PCDATA)>
	